<nav>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="">
                <img src="/img/bandiera.jpg" width="60" height="50" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/registro">Cadastre-se</a>
        </li>
    </ul>
</nav>
<main>
    <div class="container">
        <form action="" class="align-self-center">
            <div class="form-group">
                <label for="exampleInputPassword1">Matricula</label>
                <input name="matricula" id="matricula" class="form-control" id="exampleInputPassword1"
                    placeholder="Matricula">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Nome Completo</label>
                <input name="nome" id="nome" class="form-control" id="exampleInputPassword1"
                    placeholder="Nome Completo">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Senha</label>
                <input name="senha" type="password" id="senha" class="form-control" id="exampleInputPassword1"
                    placeholder="Senha">
            </div>
            <div class="form-group">
                    <button class="btn btn-primary" type="submit" id="buton-enviar">Cadastrar</button>
            </div>
        </form>
    </div>
</main>